
<div class="container-fluid" style="padding-left: 5px; padding-right: 5px;">
        <div class="container information">
            <h3 class="text-center form-heading">UPDATE MEMBERS INFORMATION</h3>
            <div class="row">
                <p class="text-label">MEMBER'S PERSONNAL INFORMATIONS:</p>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form action="#" method="post" name="info">
                        <?php if(!empty($result['personnal_info'])): ?>
                            <?php foreach($result['personnal_info']as $row => $info): ?>
                            <input type="hidden" name="id" value="<?=$info->id?>">
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 col">
                                            <label id="fn">FULL NAME (Lastname, Firstname MI.)</label>
                                            <input type="text" name="fullname" class="form-control" required="true" value="<?=$info->full_name?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-4 col-sm-4 col">
                                            <label id="sign">CALL SIGN</label>
                                            <input type="text" name="call-sign" class="form-control" required="true" value="<?=$info->user_call_sign?>">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col">
                                            <label id="chapter">CHAPTER</label>
                                            <input type="text" name="chapter" class="form-control" required="true" value="<?=$info->chapter?>">
                                        </div>
                                        <div class="col-md-4 col-sm-4 col">
                                            <label id="contact">CONTACT NO.</label>
                                            <input type="text" name="contact" class="form-control" required="true" value="<?=$info->contact?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 col">
                                            <label id="emp">PRESENT EMPLOYMENT</label>
                                            <input type="text" name="employment" class="form-control" required="true" value="<?=$info->present_employment?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 col">
                                            <label id="home">HOME ADDRESS</label>
                                            <input type="text" name="address" class="form-control" required="true" value="<?=$info->home_address?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col">
                                            <label>DATE OF BIRTH</label>
                                            <input type="text" name="date-of-birth" class="form-control" required="true" value="<?=$info->date_of_birth?>">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col">
                                            <label>PLACE OF BIRTH</label>
                                            <input type="text" name="palace-of-birth" class="form-control" required="true" value="<?=$info->place_of_birth?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-3 col-sm-4 col">
                                            <label id="citizen">CITIZENSHIP</label>
                                            <input type="text" name="citizen" class="form-control" required="true" value="<?=$info->citizenship?>">
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-6 col">
                                            <label>GENDER</label>
                                            <select type="text" name="gender" class="form-control" required="true">
                                                <option value="<?=$info->gender?>"><?=$info->gender?></option>
                                                <option value="MALE">MALE</option>
                                                <option value="FEMALE">FEMALE</option>
                                            </select>
                                        </div>
                                        <div class="col-md-2 col-sm-4 col-xs-6 col">
                                            <label>HEIGHT</label>
                                            <input type="text" name="height" class="form-control" value="<?=$info->height?>">
                                        </div>
                                        <div class="col-md-2 col-sm-6 col-xs-6 col">
                                            <label>WEIGHT</label>
                                            <input type="text" name="weight" class="form-control" value="<?=$info->weight?>">
                                        </div>
                                        <div class="col-md-3 col-sm-6 col-xs-6 col">
                                            <label>BLOOD TYPE</label>
                                            <input type="text" name="blood-type" class="form-control" value="<?=$info->blood_type?>">
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php else: ?>
                         <input type="hidden" name="id" value="">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12 col">
                                        <label id="fn">FULL NAME (Ln, Fn, Mn)</label>
                                        <input type="text" name="fullname" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-4 col-sm-4 col">
                                        <label id="sign">CALL SIGN</label>
                                        <input type="text" name="call-sign" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-4 col-sm-4 col">
                                        <label id="chapter">CHAPTER</label>
                                        <input type="text" name="chapter" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-4 col-sm-4 col">
                                        <label id="contact">CONTACT NO.</label>
                                        <input type="text" name="contact" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12 col">
                                        <label id="emp">PRESENT EMPLOYMENT</label>
                                        <input type="text" name="employment" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12 col">
                                        <label id="home">HOME ADDRESS</label>
                                        <input type="text" name="address" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>DATE OF BIRTH</label>
                                        <input type="text" name="date-of-birth" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>PLACE OF BIRTH</label>
                                        <input type="text" name="palace-of-birth" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-3 col-sm-4 col">
                                        <label id="citizen">CITIZENSHIP</label>
                                        <input type="text" name="citizen" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-6 col">
                                        <label>GENDER</label>
                                        <select type="text" name="gender" class="form-control" required="true">
                                            <option value=""></option>
                                            <option value="MALE">MALE</option>
                                            <option value="FEMALE">FEMALE</option>
                                        </select>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-6 col">
                                        <label>HEIGHT</label>
                                        <input type="text" name="height" class="form-control" value="">
                                    </div>
                                    <div class="col-md-2 col-sm-6 col-xs-6 col">
                                        <label>WEIGHT</label>
                                        <input type="text" name="weight" class="form-control" value="">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col-xs-6 col">
                                        <label>BLOOD TYPE</label>
                                        <input type="text" name="blood-type" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>

                        <?php if(!empty($result['other_info'])): ?>
                            <?php foreach($result['other_info']as $row => $info): ?>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col">
                                            <label>IN CASE OF EMERGENCY, Pls notify</label>
                                            <input type="text" name="contact-person" class="form-control" required="true" value="<?=$info->emergency_contact_person?>">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col">
                                            <label>RELATION</label>
                                            <input type="text" name="relation" class="form-control" required="true" value="<?=$info->relation_to_member?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-12 col">
                                            <label id="contact_ns">CONTACT NO.(s)</label>
                                            <input type="text" name="contact-person-num" class="form-control" required="true" value="<?=$info->emergency_contact_num?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col">
                                            <label>NAME OF FATHER</label>
                                            <input type="text" name="name-of-father" class="form-control" required="true" value="<?=$info->name_of_father?>">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col">
                                            <label>OCCUPATION</label>
                                            <input type="text" name="father-occupation" class="form-control" required="true" value="<?=$info->fathers_occupation?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col">
                                            <label>NAME OF MOTHER</label>
                                            <input type="text" name="name-of-mother" class="form-control" required="true" value="<?=$info->name_of_mother?>">
                                        </div>
                                        <div class="col-md-6 col-sm-6 col">
                                            <label>OCCUPATION</label>
                                            <input type="text" name="mother-occupation" class="form-control" required="true" value="<?=$info->mothers_occupation?>">
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>IN CASE OF EMERGENCY, Pls notify</label>
                                        <input type="text" name="contact-person" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>RELATION</label>
                                        <input type="text" name="relation" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-12 col">
                                        <label id="contact_ns">CONTACT NO.(s)</label>
                                        <input type="text" name="contact-person-num" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME OF FATHER</label>
                                        <input type="text" name="name-of-father" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>OCCUPATION</label>
                                        <input type="text" name="father-occupation" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME OF MOTHER</label>
                                        <input type="text" name="name-of-mother" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>OCCUPATION</label>
                                        <input type="text" name="mother-occupation" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>


                        <div class="row">
                            <p class="text-label">EXISTING SET-UP/EQUIPMENT(Indicate quantity, if none, put 0):</p>
                        </div>

                        <?php if(!empty($result['equipment'])): ?>
                            <?php foreach($result['equipment']as $row => $info): ?>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2 col-sm-6 col">
                                            <label>HR RADIO</label>
                                            <input type="number" name="hf-radio" class="form-control" required="true" value="<?=$info->hf_radio?>">
                                        </div>
                                        <div class="col-md-2 col-sm-6 col">
                                            <label>VHF RADIO</label>
                                            <input type="number" name="vhf-radio" class="form-control" required="true" value="<?=$info->vhf_radio?>">
                                        </div>
                                        <div class="col-md-2 col-sm-6 col">
                                            <label>UHF RADIO</label>
                                            <input type="number" name="uhf-radio" class="form-control" required="true" value="<?=$info->uhf_radio?>">
                                        </div>
                                        <div class="col-md-3 col-sm-6 col">
                                            <label>AERIAL ANTENNA</label>
                                            <input type="number" name="antenna" class="form-control" required="true" value="<?=$info->aerial_antenna?>">
                                        </div>
                                        <div class="col-md-3 col-sm-6 col">
                                            <label>SPARE BATTERY</label>
                                            <input type="number" name="spare-battery" class="form-control" required="true" value="<?=$info->spare_battery?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-2 col-sm-6 col">
                                            <label>GENERATOR</label>
                                            <input type="number" name="generator" class="form-control" required="true" value="<?=$info->generator?>">
                                        </div>
                                        <div class="col-md-2 col-sm-6 col">
                                            <label>SOLAR PANEL</label>
                                            <input type="number" name="solar-panel" class="form-control" required="true" value="<?=$info->solar_panel?>">
                                        </div>
                                        <div class="col-md-2 col-sm-6 col">
                                            <label>BATTERY</label>
                                            <input type="number" name="battery" class="form-control" required="true" value="<?=$info->battery?>">
                                        </div>
                                        <div class="col-md-3 col-sm-6 col">
                                            <label>MOBILE SET-UP</label>
                                            <input type="number" name="mobile-set-up" class="form-control" required="true" value="<?=$info->mobile_set_up?>">
                                        </div>
                                        <div class="col-md-3 col-sm-6 col">
                                            <label>DRONE</label>
                                            <input type="number" name="drone" class="form-control" required="true" value="<?=$info->drone?>">
                                        </div>
                                    </div>
                                </div>
                            <?php endforeach; ?>
                        <?php else: ?>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2 col-sm-6 col">
                                        <label>HR RADIO</label>
                                        <input type="number" name="hf-radio" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-2 col-sm-6 col">
                                        <label>VHF RADIO</label>
                                        <input type="number" name="vhf-radio" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-2 col-sm-6 col">
                                        <label>UHF RADIO</label>
                                        <input type="number" name="uhf-radio" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col">
                                        <label>AERIAL ANTENNA</label>
                                        <input type="number" name="antenna" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col">
                                        <label>SPARE BATTERY</label>
                                        <input type="number" name="spare-battery" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-2 col-sm-6 col">
                                        <label>GENERATOR</label>
                                        <input type="number" name="generator" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-2 col-sm-6 col">
                                        <label>SOLAR PANEL</label>
                                        <input type="number" name="solar-panel" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-2 col-sm-6 col">
                                        <label>BATTERY</label>
                                        <input type="number" name="battery" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col">
                                        <label>MOBILE SET-UP</label>
                                        <input type="number" name="mobile-set-up" class="form-control" required="true" value="">
                                    </div>
                                    <div class="col-md-3 col-sm-6 col">
                                        <label>DRONE</label>
                                        <input type="number" name="drone" class="form-control" required="true" value="">
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>

                        <div class="row">
                            <p class="text-label">NAME OF SIBLING/s (If single): CHILDREN (If married):</p>
                        </div>

                        <?php if(!empty($result['children_sibling'])): ?>  
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="<?=(!empty($result['children_sibling'][0]['siblings_childrens_name']) ? $result['children_sibling'][0]['siblings_childrens_name'] : '' )?>">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="<?=(!empty($result['children_sibling'][1]['siblings_childrens_name']) ? $result['children_sibling'][1]['siblings_childrens_name'] : '' )?>">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="<?=(!empty($result['children_sibling'][2]['siblings_childrens_name']) ? $result['children_sibling'][2]['siblings_childrens_name'] : '' )?>">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="<?=(!empty($result['children_sibling'][3]['siblings_childrens_name']) ? $result['children_sibling'][3]['siblings_childrens_name'] : '' )?>">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="<?=(!empty($result['children_sibling'][4]['siblings_childrens_name']) ? $result['children_sibling'][4]['siblings_childrens_name'] : '' )?>">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="<?=(!empty($result['children_sibling'][5]['siblings_childrens_name']) ? $result['children_sibling'][5]['siblings_childrens_name'] : '' )?>">
                                    </div>
                                </div>
                            </div>    
                        <?php else: ?>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>NAME</label>
                                        <input type="text" name="child-siblings-name[]" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>

                        <div class="row">
                            <p class="text-label">SCHOOLS ATTENDED:</p>
                        </div>

                        <?php if(!empty($result['school_attended'])): ?>  
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>SECONDARY</label>
                                        <input type="text" name="school[]" class="form-control" value="<?=(!empty($result['school_attended'][0]['school']) ? $result['school_attended'][0]['school'] : '' )?>">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>DATE GRADUATED</label>
                                        <input type="text" name="date-grad[]" class="form-control" value="<?=(!empty($result['school_attended'][0]['date_graduate']) ? $result['school_attended'][0]['date_graduate'] : '' )?>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>COLLEGE</label>
                                        <input type="text" name="school[]" class="form-control" value="<?=(!empty($result['school_attended'][1]['school']) ? $result['school_attended'][1]['school'] : '' )?>">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>DATE GRADUATED</label>
                                        <input type="text" name="date-grad[]" class="form-control" value="<?=(!empty($result['school_attended'][1]['date_graduate']) ? $result['school_attended'][1]['date_graduate'] : '' )?>">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>POST GRADUATE</label>
                                        <input type="text" name="school[]" class="form-control" value="<?=(!empty($result['school_attended'][2]['school']) ? $result['school_attended'][2]['school'] : '' )?>">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>DATE GRADUATED</label>
                                        <input type="text" name="date-grad[]" class="form-control" value="<?=(!empty($result['school_attended'][2]['date_graduate']) ? $result['school_attended'][2]['date_graduate'] : '' )?>">
                                    </div>
                                </div>
                            </div>
                        <?php else: ?>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>SECONDARY</label>
                                        <input type="text" name="school[]" class="form-control" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>DATE GRADUATED</label>
                                        <input type="text" name="date-grad[]" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>COLLEGE</label>
                                        <input type="text" name="school[]" class="form-control" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>DATE GRADUATED</label>
                                        <input type="text" name="date-grad[]" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>POST GRADUATE</label>
                                        <input type="text" name="school[]" class="form-control" value="">
                                    </div>
                                    <div class="col-md-6 col-sm-6 col">
                                        <label>DATE GRADUATED</label>
                                        <input type="text" name="date-grad[]" class="form-control" value="">
                                    </div>
                                </div>
                            </div>
                        <?php endif; ?>

                        <div class="row">
                            <div class="form-group" align="center" style="margin-top: 35px;">
                                <button type="submit" name="submit" class="btn btn-primary"><i class="fa fa-edit"></i> UPDATE</button>
                                <button type="button" name="cancel" class="btn btn-danger"><i class="fa fa-times"></i> CANCEL</button>
                                <a href="<?= base_url(); ?>page/user/profile.html/<?= $this->session->userdata('user_call_sign'); ?>/" class="btn btn-info"><i class="fa fa-chevron-left"></i> MY PROFILE</a>
                            </div>
                        </div>
                    </form>            
                </div>
            </div>
            
        </div>
    </div>
    <script>
        $(document).ready(function(){

            load();
            function load(){
                $('input').parent().addClass('slide-up');
                $('select').parent().addClass('slide-up');
            }
    
            $('input[type="number"]').keyup(function(){
                if($(this).val() < 0){
                    swal(
                        {
                            title: "INVALID NUMBER",
                            text : 'Number should not be in negative.',
                            type : "info",
                            showCancelButton  : false,
                            confirmButtonColor: "#48CDF5",
                            confirmButtonText : "OK",
                            cancelButtonText  : "",
                            closeOnConfirm    : true,
                            closeOnCancel     : false 
                        }
                    );
                    $(this).val('');
                }
            })
            $('input[type="number"]').change(function(){
                if($(this).val() < 0){
                    swal(
                        {
                            title: "INVALID NUMBER",
                            text : 'Number should not be in negative.',
                            type : "info",
                            showCancelButton  : false,
                            confirmButtonColor: "#48CDF5",
                            confirmButtonText : "OK",
                            cancelButtonText  : "",
                            closeOnConfirm    : true,
                            closeOnCancel     : false 
                        }
                    );
                    $(this).val('');
                }
            })
    
            $('button[name="submit"]').click(function(e){
                e.preventDefault();
                var child_siblings = [], school = [], date_grad = [];
    
                if($('input[name="fullname"]').val() != '' && $('input[name="call-sign"]').val() != '' && $('input[name="chapter"]').val() != '' 
                    && $('input[name="contact"]').val() != '' && $('input[name="employment"]').val() != '' && $('input[name="address"]').val() != '' 
                    && $('input[name="date-of-birth"]').val() != '' && $('input[name="place-of-birth"]').val() != '' 
                    && $('input[name="citizen"]').val() != '' && $('input[name="gender"]').val() != '' 
                    && $('input[name="contact-person"]').val() != '' && $('input[name="relation"]').val() != '' 
                    && $('input[name="contact-person-num"]').val() != '' && $('input[name="name-of-father"]').val() != '' 
                    && $('input[name="father-occupation"]').val() != '' && $('input[name="name-of-mother"]').val() != '' 
                    && $('input[name="mother-occupation"]').val() != '' ){
    
                    $('input[name="child-siblings-name[]"]').each(function() {
                        if($(this).val() != ''){
                            child_siblings.push($(this).val());
                        }
                    });
                    $('input[name="school[]"]').each(function() {
                        if($(this).val() != ''){
                            school.push($(this).val());
                        }
                    });
                    $('input[name="date-grad[]"]').each(function() {
                        if($(this).val() != ''){
                            date_grad.push($(this).val());
                        }
                    });
    
                    // console.log($('form[name="info"]').serialize() + child_siblings + school + date_grad);
                    $.ajax({
                        url: '<?= base_url(); ?>user/update',
                        type: 'POST',
                        data: {
                            id: $('input[name="id"]').val(),
                            fullname: $('input[name="fullname"]').val(), 
                            call_sign : $('input[name="call-sign"]').val(), 
                            chapter : $('input[name="chapter"]').val(), 
                            contact : $('input[name="contact"]').val(), 
                            employment : $('input[name="employment"]').val(), 
                            address : $('input[name="address"]').val(), 
                            date_of_birth : $('input[name="date-of-birth"]').val(), 
                            palace_of_birth : $('input[name="palace-of-birth"]').val(), 
                            citizen : $('input[name="citizen"]').val(), 
                            gender : $('select[name="gender"]').val(), 
                            height : $('input[name="height"]').val(), 
                            weight : $('input[name="weight"]').val(), 
                            blood_type : $('input[name="blood-type"]').val(), 
                            contact_person : $('input[name="contact-person"]').val(), 
                            contact_person_num : $('input[name="contact-person-num"]').val(), 
                            relation : $('input[name="relation"]').val(), 
                            name_of_father : $('input[name="name-of-father"]').val(), 
                            father_occupation : $('input[name="father-occupation"]').val(), 
                            name_of_mother : $('input[name="name-of-mother"]').val(), 
                            mother_occupation : $('input[name="mother-occupation"]').val(),
                            sign_at : $('input[name="sign-at"]').val(),
                            date_sign : $('input[name="date-sign"]').val(),
                            hf_radio  : $('input[name="hf-radio"]').val(),
                            vhf_radio : $('input[name="vhf-radio"]').val() ,
                            uhf_radio : $('input[name="uhf-radio"]').val(),
                            antenna  : $('input[name="antenna"]').val(),
                            spare_battery  : $('input[name="spare-battery"]').val(),
                            generator  : $('input[name="generator"]').val(),
                            solar_panel  : $('input[name="solar-panel"]').val(),
                            battery  : $('input[name="battery"]').val(),
                            mobile_set_up  : $('input[name="mobile-set-up"]').val(),
                            drone : $('input[name="drone"]').val(),
                            child_siblings : child_siblings,
                            school : school,
                            date_grad : date_grad
                        },
                        success:function(data){
                            const log_oObj = JSON.parse(data);
                            console.log(log_oObj);
                            if(log_oObj.update == true){
                                swal(
                                    {
                                        title: "SUCCESSFUL",
                                        text : log_oObj.message,
                                        type : "success",
                                        showCancelButton  : false,
                                        confirmButtonColor: "#A5DC86",
                                        confirmButtonText : "OK",
                                        cancelButtonText  : "",
                                        closeOnConfirm    : true,
                                        closeOnCancel     : false 
                                    }
                                );
                            }
                            else if(log_oObj.taken == true){
                                swal(
                                    {
                                        title: "WARNING",
                                        text : log_oObj.message,
                                        type : "warning",
                                        showCancelButton  : false,
                                        confirmButtonColor: "#F8C886",
                                        confirmButtonText : "OK",
                                        cancelButtonText  : "",
                                        closeOnConfirm    : true,
                                        closeOnCancel     : false 
                                    }
                                );
                                $('input[name="call-sign"]').val('');
                                $('input[name="call-sign"]').focus();
                            } 
                            else if(log_oObj.insert == false){
                                swal(
                                    {
                                        title: "ERROR",
                                        text : log_oObj.message,
                                        type : "error",
                                        showCancelButton  : false,
                                        confirmButtonColor: "#F27474",
                                        confirmButtonText : "OK",
                                        cancelButtonText  : "",
                                        closeOnConfirm    : true,
                                        closeOnCancel     : false 
                                    }
                                );

                            } 
                        }
                    })
                }
            })
    
            $('button[name="cancel"]').click(function(e){
                e.preventDefault();
                $('form[name="info"]')[0].reset();
            })
        })
    </script>