<div class="container sign-in" style="margin-top: 80px;">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
                <div class="border">
                    <h3 class="text-center">Update User Credential</h3>
                    <form action="" method="post" name="user_credential">
                        <div class="user">
                            <?php if(!empty($result)): ?>
                                <?php foreach($result as $row => $value): ?>
                                    <input type="hidden" class="form-control ln" name="id" required value="<?= $value->id; ?>">

                                    <div class="form-group">
                                        <label id="user">Username</label>
                                        <input type="text" class="form-control ln" name="user" required value="<?= $value->username; ?>">
                                    </div>
                                    
                                    <div class="form-group">
                                        <label id="pass">Password</label>
                                        <input type="password" class="form-control fn" name="pass" required>
                                    </div>

                                    <div class="form-group">
                                        <label id="pass">User Type</label>
                                        <select type="text" class="form-control fn" name="user_type" required>
                                            <option value=""></option>
                                            <option value="Admin">Admin</option>
                                            <option value="Secretary">Secretary</option>
                                            <option value="Treasurer">Treasurer</option>
                                            <option value="Member">Member</option>
                                        </select>
                                    </div>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </div>
                        
                        <div align="center">
                            <button type="button" id="update" class="btn btn-info"><i class="fa fa-edit"></i> UPDATE</button>
                        </div>
                        <!-- <h5 class="text-center">Forgot password?<a href="#"> Reset Here</a></h5> -->
                    </form>
                </div>
            </div>
        </div>
        <!-- <p class="text-center">Developed by: Benigno Entera Ambus Jr.</p> -->
    </div>
    
    <script>
        $(document).ready(function(){

            load();

            function load(){
                $('input').parent().addClass('slide-up');
                $('select').parent().addClass('slide-up');
            }
    
            $('#update').click(function(e){
                e.preventDefault();
                var action = 'sign-in';
                if($('input[name="user"]').val() != '' && $('input[name="pass"]').val() != '' && $('select[name="user-type"]').val() != ''){
                    $.ajax({
                        url: '<?= base_url(); ?>user/update_user',
                        type: 'POST',
                        data: $('form[name="user_credential"]').serialize(),
                        success:function(data){
                            const log_oObj = JSON.parse(data);
                            console.log(log_oObj);
                            if(log_oObj.update == true){
                                swal(
                                    {
                                        title: 'SUCCESSFULL',
                                        text : log_oObj.message,
                                        type : "success",
                                        showCancelButton  : false,
                                        showConfirmButton  : true,
                                        confirmButtonColor: "#A5DC86",
                                        confirmButtonText : "OK",
                                        cancelButtonText  : "",
                                        closeOnConfirm    : true,
                                        closeOnCancel     : false 
                                    }
                                );
                                $('form')[0].reset();
                            }
                            else{
                                swal(
                                {
                                    title: "ERROR",
                                    text : log_oObj.message,
                                    type : "error",
                                    showCancelButton  : false,
                                    confirmButtonColor: "#F27474",
                                    confirmButtonText : "OK",
                                    cancelButtonText  : "",
                                    closeOnConfirm    : true,
                                    closeOnCancel     : false 
                                }
                            );
                            } 
                        }
                    });
                }
                else{
                    swal(
                        {
                            title: "WARNING",
                            text : 'All fields are required.',
                            type : "warning",
                            showCancelButton  : false,
                            confirmButtonColor: "#F8C886",
                            confirmButtonText : "OK",
                            cancelButtonText  : "",
                            closeOnConfirm    : true,
                            closeOnCancel     : false 
                        }
                    );
                }
            })
        })
    </script>